<div class="option">
  <p>亮度和颜色</p>
  <card
    card="card"
    ng-click="onJumpPage(card.jump.crumbs,card.jump.z)"
    ng-repeat="card in cardList0"
  ></card>
</div>
<div class="option">
  <p>缩放和布局</p>
  <card
    card="card"
    ng-click="onJumpPage(card.jump.crumbs,card.jump.z)"
    ng-repeat="card in cardList1"
  ></card>
</div>
<div class="option">
  <p>相关设置</p>
  <card
    card="card"
    ng-click="onJumpPage(card.jump.crumbs,card.jump.z)"
    ng-repeat="card in cardList3"
  ></card>
</div>
<help></help>
