<div class="option">
  <p>输出</p>
  <card
    card="card"
    ng-click="onJumpPage(card.jump.crumbs,card.jump.z)"
    ng-repeat="card in cardList0"
  ></card>
</div>
<div class="option">
  <p>输入</p>
  <card
    card="card"
    ng-click="onJumpPage(card.jump.crumbs,card.jump.z)"
    ng-repeat="card in cardList1"
  ></card>
</div>
<div class="option">
  <p>高级</p>
  <card
    card="card"
    ng-click="onJumpPage(card.jump.crumbs,card.jump.z)"
    ng-repeat="card in cardList2"
  ></card>
</div>
<help></help>
